.library {
    position: fixed;
    top: 0;
    left: 0;
    width: 20rem;
    height: 100%;
    background-color: white;
    box-shadow: 2px 2px 50px rgb(153, 152, 152);
    overflow: scroll;
    transform: translateX(-100%);
    transition: all 0.5s ease;
    opacity: 0;
    h2 {
        padding: 2rem;
    }
}

.library-song {
    display: flex;
    align-items: center;
    padding: 1rem 2rem 1rem 2rem;
    cursor: pointer;
    img {
        width: 30%;
    }
    &:hover {
        background: rgba(214, 214, 224, 0.966);
    }
}

.song-description {
    padding-left: 1rem;
    h3 {
        font-size: 1rem;
    }
    h4 {
        font-size: 0.75rem;
    }
}

* {
    scrollbar-width: thin;
    scrollbar-color: rgb(226, 223, 223) transparent;
}

*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: rgb(226, 223, 223);
    border-radius: 20px;
    border: transparent;
}

.selected {
    background: rgb(186, 188, 219);
}

.active-library {
    transform: translateX(0);
    opacity: 1;
}